{% assign beers = site.beers | sort: "sale_date" | reverse %}

{% for beer in beers %}
  <div class="container mx-auto bg-white min-h-screen">
      <div class="items-center flex flex-col sm:flex-row">
        <div class="flex items-center justify-center w-full mt-6 lg:mt-0">
          <a href="{{ beer.url | prepend: beer.baseurl }}">
            <img class="w-full lg:max-w-2xl rounded-md max-h-screen p-16" src="{{ beer.image }}" alt="{{ beer.name }}">
          </a>
        </div>

        <div class="sm:flex sm:flex-col mt-6 space-y-4">
          <h1 class="text-6xl font-title font-semibold text-gray-800 uppercase lg:text-8xl text-center">{{ beer.name }}, {{ beer.alcohol }}</h1>

          <div class="sm:flex w-full justify-center">
            <a href="{{ beer.url | prepend: beer.baseurl }}">
              <button class="my-4 w-full sm:w-auto text-xl sm:text-xl px-4 py-2 font-medium tracking-wide text-gray-600 transition-colors duration-200 transform rounded-md ring ring-teal-600 hover:bg-teal-600 focus:outline-none focus:ring-opacity-80 hover:text-white">
                Läs mer
              </button>
            </a>
          </div>
        </div>
      </div>
  </div>
{% endfor %}
