
    <footer class="bg-white border-t">
      <div class="container px-6 py-4 mx-auto">
          <div class="lg:flex">
              <div class="mt-6 lg:mt-0 lg:flex-1">
                  <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-2">
                    <div>
                      <h3 class="text-gray-700 uppercase">Kontakt</h3>
                      <a href="tel:+46700000000" class="block mt-2 text-sm text-gray-600 hover:underline">070-nånting</a>
                      <a href="mailto:example.com" class="block mt-2 text-sm text-gray-600 hover:underline">kontakt@gagnefbrewing.se</a>
                    </div>

                    <div>
                        <h3 class="text-gray-700 uppercase"></h3>
                        <a href="//untappd.com/GagnefBrewing" target="_blank" class="block mt-2 text-sm text-gray-600 over:underline after:content-['_↗']">Untappd</a>
                        <a href="//instagram.com/gagnefbrewing" target="_blank" class="block mt-2 text-sm text-gray-600 hover:underline after:content-['_↗']">Instagram</a>
                    </div>
                  </div>
              </div>
          </div>

          <div class="my-6">
              <p class="text-center text-gray-800">© Gagnef Brewing 2022</p>
          </div>
      </div>
  </footer>