{% if page.title %}
  {% assign title = page.title | append: " - " | append: site.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

{% if page.og_image %}
  {% assign og_image = page.og_image %}
{% else %}
  {% assign og_image = site.og_image %}
{% endif %}

{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.version | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ url }}">

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image" content="{{ og_image }}" />
  <meta property="og:image:secure_url" content="{{ og_image }}" />
  <meta property="og:image:type" content="image/jpeg" /> 
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:locale" content="sv_SE" />

  <link rel="DNS-prefetch" href="//fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  <script>
    function createCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    function createAcceptCookies() {
      createCookie('cookie-accepted', 'true', 31);
      if(window.ageCheckOK) {
        createCookie('age-check', 'true', 31);
      }
    }

    function canStoreCookies() {
      return readCookie('cookie-accepted') === 'true';
    }
  </script>
</head>