<nav>
  <div class="container p-4 mx-auto sm:flex sm:justify-between sm:items-center">
      <div class="sm:flex sm:items-center">
        <div class="flex items-center justify-center sm:justify-between">
          <div>
            <a href="/">
              <img src="/assets/images/logo.svg" alt="gagnef brewing logo" class="h-24 w-24 my-4 transition duration-200 transform hover:scale-[1.1] {{ include.invert }}"/>
            </a>
          </div>
        </div>
        <div class="flex flex-col md:flex-row text-black space-x-5 items-center justify-center text-xl {{ include.invert }}">
          <div class="space-x-5">
            {% for page_data in site.data.page_data %}
              {% assign pd = page_data[1] %}
              {%
                include components/menu-list-item.html
                url = pd.url
                text = pd.title
              %}
            {% endfor %}
          </div>
          <div class="mt-2 md:mt-0 p-2">
            {%
              include components/menu-list-item.html
              url = "https://www.systembolaget.se/sortiment/?q=Gagnef%20Brewing"
              text = "Beställ på Systembolaget"
              target = "_blank"
            %}
          </div>
        </div>
      </div>
  </div>
</nav>