<a href="{{ include.href }}" class="hover:opacity-90">
  <div class="flex flex-col items-center justify-center max-w-sm mx-auto">
      <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url({{include.img_src}})"></div>

      <div class="w-56 -mt-10 overflow-hidden bg-white rounded-b-lg shadow-lg md:w-64 bg-opacity-50">
          <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase">{{ include.title }}</h3>
      </div>
  </div>
</a>