<div class="mt-5 bg-gagnef-moss-500 text-white p-5 rounded-2xl">
  <h3 class="text-2xl">Såhär handlar du</h3>
  <h4>1. Skapa konto på <a class="font-bold hover:underline underline-offset-8" href="https://www.systembolaget.se/skapa-konto/" target="_blank">systembolaget.se/skapa-konto</a>.</h4>
  <h4>2. Följ anvisningarna för att verifiera din e-post.</h4>
  <h4>3. <a class="font-bold hover:underline underline-offset-8" href="https://www.systembolaget.se/{{ include.SB_number}}" target="_blank">Börja handla</a>.</h4>
</div>