<!DOCTYPE html>
<html lang="sv" class="bg-white">
  {% include head.html %}

  <body>
    {{ content }}
  </body>

  {% include footer.html %}
  {% include molecules/age-check.html %}
  {% include molecules/cookie-consent.html %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script>
    document.querySelector("#scroll-icon").addEventListener("click", function() {
      window.scrollTo({ top: 400, behavior: 'smooth' })
    });
  </script>
</html>